*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
.editors
{
  display: flex;
  background-color: #353b48;
  overflow: hidden;
  height: 50vh;
 


}
.editor__header
{
  background-color: #1A1B1F;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editor__window
{
  flex:1;
  padding:10px;
  
  border-radius: 10px;
  height: 50vh;
}
  .CodeMirror
  {
    height:90%!important;
  }
  .react-codemirror2
  {
    height: 90%!important;
    
  }
.codemirror__wrapper
{
  flex-grow: 1;
  overflow: hidden;
  
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}
.closewindow
{
  flex:0;
}
.closewindow .CodeMirror-scroll
{
  position:absolute;
}